<div data-sly-use.calendarEvents="com.aem.community.core.models.CalendarEventsModel">
	<!--Create Tabs-->
    <div class="tabs" data-sly-list="${calendarEvents.months}">
      	<div>${calendarEvents.months[item]}</div>
    </div>
    <!--Create Tab Content-->
    <sly data-sly-list="${calendarEvents.events}">
        <div class="tab-content-${item}">
            <sly data-sly-list.eventItem="${calendarEvents.events[item]}">
            	<div class="event-section">
					<div>Image  :: <img src="${eventItem.image}"/></div>
                    <h4 style="font-color:${eventItem.titleBackgroundColor}">Title :: ${eventItem.title}</h4>
                    <h6>Date :: ${eventItem.dateDisplayText}</h6>
					<h6>Description :: ${eventItem.description}</h6>
                    <a href="${eventItem.addToCalendarLink}">
                    	<button>${eventItem.addToCalendarText}</button>
                    </a>
                </div>
            </sly>
        </div>
    </sly>
</div>


